/*RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

ul, ol, menu{
    list-style: none;
}

/* LAYOUT */

:root {
	--blue: #0084fd;
	--lightblue: #b5ddff;
	--lilac: #9792e4;
	--black: #333333;
	--gold: #fdc15f;
    --grey: #a8a8a8;
	--gutter: 24px;
}

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    
}

.container-sm{
    max-width: 940px;
    
}

.container-xs{
    max-width: 600px;
    
}

.container,
.container-sm,
.container-xs {
	margin: 0 auto;
	padding: 0 calc(var(--gutter) * 0.5);
}

.row{
    display: flex;
    flex-wrap: wrap;
    row-gap: var(--gutter);
}

.row > * {
	padding: 0 calc(var(--gutter) * 0.5);
}

/* BUTTONS */

.button{
    border-radius: 999px;
    padding: 10px;
    text-align: center;
}

.button.large{
    padding: 10px 50px;
}

.white-button{
    color: black;
    background-color: white;
}

.blue-button{
    background-color: var(--blue);
    color: white;
}

.round-button{
    color: black;
    background-color: var(--lilac);
    border-radius: 50%;
    width: 40px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;       
}

.lilac-button{
    color: white;
    background-color: var(--lilac);
}

.white-lilac-button{
    background-color: white;
    color: var(--lilac);
}

.button.small{
    padding-top: 5px;
    padding-bottom: 5px;
}

.button.big{
    padding: 24px 60px;
}



/* COLUMNS */


.col-12{
    width: 100%;
}

/* HEADER */

.main__header{
    background-color: var(--blue);
    color: white;
    padding: 12px 0;
    
}

.main__header .row{
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: block;
}

.hamburger{
    font-size: 20px;
    margin-left: auto;
}

.header__list{
    display: none;   
}

/* MAIN */

/* HERO */

.hero{
    padding: 50px 0;
}

.hero__card{
    background-color: var(--lightblue);
    border-radius: 16px;
    height: 100%;
}

.hero__logo{
    font-size: 60px;
    color: var(--blue);
}

.hero__title{
    color: var(--blue);
}

.hero__card__body {
	display: flex;
	flex-direction: column;
	gap: 28px;
	align-items: center;
	text-align: center;
	padding: 30px 24px;
}

.hero__card__body p{
    font-size: 14px;
    line-height: 2em;
}

.hero__card.big{
    display: flex;
    flex-wrap: wrap;
}

.hero__card.big > *{
    width: 100%;
}

.hero__card.big .hero__card__body{
    text-align: left;
    align-items: flex-start;
}

.hero__card__header{
    align-self: flex-end;
}

.hero__card__header img{
    display: block;
    margin: 0 auto;
    width: 250px;
}

/* STRATEGIC PLANNING */

.strategic{
    background-color: var(--lilac);
    color: white;
    padding: 50px 0;
}

.strategic__title{
    font-size: 40px;
    margin: 40px 0;
    
}

.strategic__card{
    height: 100%;
}

.strategic__card p{
    font-size: 14px;
    line-height: 2em;
}

.app__development{
    background-color: white;
    color: black;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
	gap: 28px;
	align-items: center;
	text-align: center;
	padding: 30px 24px;
        
}

/* TESTIMONIALS */

.testimonials{
    padding: 50px 0;
}

.testimonials .container:first-child{
    text-align: center;
    padding: 40px calc(var (--gutter) * 0.5);
}

.testimonials .container:first-child *{
    margin: 28px 0;
    
}

.testimonials__title{
    color: var(--lilac);
    font-size: 40px;
}

.testimonial__card{
    background-color: var(--lilac);
    color: white;
    border-radius: 50px;
    text-align: center;
    line-height: 2em;
    padding: 30px;    
}

.testimonial__card img{
    width: 250px;
    border-radius: 50%;
}

.testimonial__name{
    margin: 16px 0;
}

/* BENEFITS */

.benefits{
    background-color: var(--lilac);
    padding: 40px 0;
    text-align: center;
}

.benefits__title{
    font-size: 40px;
    color: white;
}

.benefits__card{
    display: flex;
	flex-direction: column;
    align-items: flex-start;
	gap: 28px;
	padding: 30px 24px;
    background-color: white;
    color: var(--lilac);
    border-radius: 16px;
}

.benefits__number{
    font-size: 40px;
    font-weight: 700;
}

.benefits__card p{
    color: var(--grey);
    font-size: 14px;
    line-height: 2em;
    text-align: left;
}

/* ABOUT US */

.about_us{
    padding: 50px 0;
    color: var(--lilac);
}

.about_us__title{
    padding: 24px 0;
    font-size: 40px;
}

.about_us p{
    color: black;
    line-height: 2em;
    margin-bottom: 30px;
}

.about_us__card{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about_us__card img{
    border-radius: 50%;
    width:200px;
}

.about_us__comment{
    font-weight: 700;
    font-size: 32px;
    margin: 24px 0;
}

/* CALL TO ACTION */

.cta{
    background-color: var(--lilac);
    color: white;
    padding: 50px 0;
}

.cta .container-xs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta .container-xs *{
    margin: 16px 0;
    text-align: center;
}

.get_started{
    font-weight: 100;
}

.cta__advertisement{
    font-size: 100px;
    color: var(--gold);
}

.cta p{
    line-height: 2em;
    font-size: 14;
    text-align: center;
}

.cta p a{
    text-decoration: underline;
}

    /* FOOTER */

/* MEDIA QUERY  */

@media screen and (min-width: 768px) {
    .col-md-8{
        width: calc(8 * 100% / 12);
    }

    .col-md-4{
        width: calc(100% / 3);
    }

    .col-md-6{
        width: 50%;
    }

    /* HERO */

    .hero__card__header img{
        margin: 0;
    }

    /* TESTIMONIALS */

    .testimonial__card{
        display: flex;
        align-items: center;
        text-align: left;    
    }

    .testimonial__quote{
        flex-grow: 1;
        margin: 0 40px;
    }

    /* BENEFITS */

    .benefits__number{
        font-size: 60px;
    }

    /* ABOUT US */

    .about_us__title{
        font-size: 60px;
    }

    .about_us__card img{
        width: 250px;
        align-self: center;
    }
    
    
}


@media screen and (min-width:768px) and (max-width:991px) {
    /* STRATEGIC */

    .strategic__title{
        font-size: 60px;
    }
}

@media screen and (min-width: 992px) {
    
    .col-lg-6{
        width: 50%;
    }

    .col-lg-4{
        width: calc(100% / 3);
    }

    /* HEADER */
    .hamburger{
        display: none;
    }

    .header__list{
        display: block;
        display:flex; 
        gap: 20px;
        margin-left: auto;   
    }

    /* HERO */

    .hero__card.big > *{
        width: 50%;
    }

    .hero__card__header img{
        margin: 0 auto;
    }

    /* STRATEGIC */

    .strategic__card__body{
        margin-top: 200px;
    }

    .strategic__card.app{
       display: flex;
       flex-direction: column-reverse;
        
    }

    /* ABOUT US */

    .about_us .container {
        padding: 0 calc(var(--gutter)*2);
    }

    
}

